:root{
    --color1: #f0f0f0;
    --color2: #333;
    --color3: #555;
    --color4: #3ae4b1;
    --colorLinear: linear-gradient(purple,aqua);
    --fontFamily: "Cascadia Code",sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/************************************************************************************************************************
            Estilizando Body
************************************************************************************************************************/

body{
    background:var(--color1);
    font-family:var(--fontFamily);
}

/************************************************************************************************************************
            Estilizando Hero
************************************************************************************************************************/

#inicio{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    background:var(--color2);
    justify-content:center; 
    align-items:center;
    opacity:1;
    transition: opacity 1s ease-in-outro; /*Faz efeito suave de entrada e saída*/
}
#imgHero{
    width:500px;
    height:500px;
    border-radius:50%;
    margin-top:20px;
    animation: rodar 1s ease-in-out;

}

@keyframes rodar{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

#titulo{
    margin-top:100px;
    text-align:center;
    font-size:3rem;
    background:var(--colorLinear);
    text-transform:uppercase;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    animation:efeito 1s ease-in-out;
}
@keyframes efeito{
    from{
        opacity:0;
    }
    to{
        opacity:1;
        transform:translateY(-10px);
    }
}

/***************************************************************************************************************
            Estilizando header
****************************************************************************************************************/

header{
    background:var(--color3); /* Cor do fundo*/
    color:var(--color4); /* Cor do texto*/
    padding: 20px; /* Espaçamento interno*/
    align-items: center; /*Centraliza intens ao centro*/
    display:flex; /*Deixa um do lado do outro*/
    justify-content:space-between; /* Ajusta o display*/
    border-radius:50px; /*Arredonda a borda*/
}
header #logo{
    width:70px; /*Definindo largura */
    height:70px; /*Definindo altura*/
    border-radius:50%; /*Arredonda as bordas*/
}

header nav ul{
    display:flex;
    gap:20px; /* Espaço entre elementos*/
    list-style:none; /* Remove o sinal de lista(bolhinhas)*/
}

header nav ul li a{
    text-decoration:none;
    color:var(--color1);
    font-height:800; /*Deixa negrito*/
}
/* Hover é uma pseudo-classe. que faz um efeito ao passar o mouse em cima */
header nav ul li a:hover{
    color:var(--color4); /*Cor do texto ao passa em cima o mouse*/
    text-decoration:underline; /*Estiliza ao passar o mouse pondo underline*/
    text-transform:uppercase; /*Estiliza ao passar o mouse deixando em negrito*/
}
.cor{
    width:30px;
    height:30px;
    border-radius:50px;
    background:var(--colorLinear);
}

#texto{
    margin-top:100px;
    text-align:center;
    font-size:4rem;
    background:var(--colorLinear);
    text-transform:uppercase;
    -webkit-text-fill-color:transparent;
    background-clip:text;
}